* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.header {
    /* overflow: hidden; */
    background: linear-gradient(135deg, #fea500, #f10790);
    padding: 12px;

}

.header i {
    color: white;
    margin-right: 5px;
    padding: 0 10px;
    flex: 2;
    position: relative;
}

.header-right {
    float: right;

}

.header-right a {
    color: white;
    margin-right: 5px;
}

.header-right .icon {
    display: none;
}

.header i:first-child {
    border-left: 1px solid white;
    padding-left: 5px;
    height: 100%;

}

.header i:last-child {
    margin-left: 5px;
}

.header i:not(:first-child) {
    border-left: 1px solid white;
    height: 100%;

}



@media screen and (max-width: 600px) {
    .header-right a {
        display: none;
    }

    .header-right a.icon {
        float: right;
        display: none;
    }
}


/* End of first navbar */
nav {
    background-color: white;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 45px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: orange;
}

nav li:first-child {
    margin-right: auto;
    font-size: 30px;
    font-weight: bolder;
}

p {
    line-height: 1.5em;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 900px;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;

}

.sidebar a {
    width: 100%;
}

.menu-btn {
    display: none;
}

@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media(max-width:400px) {
    .hideOnMobile {
        display: none;
    }
}


.article {
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("images/computer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.BTN {
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: linear-gradient(135deg, #fea500, #f10790);
    color: white;
    margin-left: 10px;
}

.text::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: linear-gradient(135deg, #fea500, #f10790);
    z-index: -1;
}

.text h1,
p {
    margin-left: 10px;
}

/* sildeshow */
.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f10790;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

section {
    background: linear-gradient(135deg, #fea500, #f10790);
    min-height: 100px;
    padding: 25px;
    position: relative;

}

.card {
    float: left;
    width: 33.3%;
    box-sizing: border-box;


}

.card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px;
    margin-bottom: -10px;

}

.card h2 {
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.card p {
    margin-top: 5px;
    margin-left: 18px;
    color: white;
    font-size: 14px;
}

@media(max-width:600px) {
    .card {
        width: 100%;
        float: none;
        justify-content: center;
    }

}

.line h2 {

    margin-top: 10px;
}

.line-separator {
    display: block;
    width: 40px;
    height: 4px;
    background: linear-gradient(135deg, #fea500, #f10790);

    border-radius: 5px;
    margin-top: 10px;
}

#column {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 10px;
}

#column button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: linear-gradient(135deg, #fea500, #f10790);
    color: white;
}

#column button:hover {
    background: #f16ab9;
    cursor: pointer;

}


#sidebar {
    float: right;
    width: 30%;



}

#sidebar img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 10px;



}

@media (max-width:600px) {
    #column {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}

@media (max-width:600px) {
    .overlay {
        width: 100%;
        float: none;
    }

}

.service-cards {
    margin: 30px;

}

.image-cards {
    float: left;
    padding: 0;
    margin: 10px;

}

.image-cards img {
    width: 250px;
    height: 150px;
}

.image-cards i {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #fea500, #f10790);
    border-radius: 50px;
    justify-content: center;
}

.image-cards i {
    border: 2px solid #000;
    border-radius: 50%;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
}

.overlay {
    position: relative;
    width: 200px;
    height: 20px;
    bottom: 25px;
    border: 2px solid white;
    border-radius: 23px 0 0 23px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 28px;
    background-color: white;
}

.overlay i {
    position: absolute;
    top: -1px;
    left: -2px;
}

.overlay p {
    margin-left: 40px;
}


.overlay>* {
    border: none;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay3 {
    bottom: -130px;
}

.main,
.service-cards {
    float: left;
}